body {
    background-color: #cfd9db;
    margin: unset;
}

header{
  padding:2%;
  background-color: #290336;
  background-image: linear-gradient(to bottom right, #238A8D, #440D54);
  margin:0 0 30px 0;
  color: #eeeeee;
  font-size: 24px;
}

.footer{
  background-image: linear-gradient(to bottom right, #238A8D, #440D54);
  color: #eee;
  margin: auto;
  padding:10px 0 20px 0;
  font-size: 16px;
}

h1, h4, h5 {
  font-family: Montserrat SemiBold;
  text-align: center;
  margin: 12px 12px 12px 0;
}
h3 {
  font-family: Montserrat SemiBold;
  text-align: center;
  margin: 8px 1px 8px 1px;
  font-size: 24px;
}

h2 {
  font-family: Montserrat SemiBold;
  text-align: left;
  border-radius: 20px;
  margin: 12px 12px 12px 32px;
}

span{
  font-family: Montserrat;
  font-size: 16px;
  margin-bottom: 8px;
}

p, A{
  font-family: Montserrat;
  margin: 12px 12px 12px 32px;
}

.happy_card{
  margin : auto;
  width : 16%;
  background-color: #FDE725;
  padding: 24px 16px 16px 16px;
  border-radius: 15px;
  text-align: center;
  color: #111;
}

.sad_card{
  margin : auto;
  width : 16%;
  background-color: #440D54;
  padding: 24px 16px 16px 16px;
  border-radius: 15px;
  text-align: center;
  color: #eee;
}

.happy_card h6{
  font-family: "Montserrat SemiBold";
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: 8px auto 0px auto;
}

.sad_card h6{
  font-family: "Montserrat SemiBold";
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: 8px auto 0px auto;
}

@media (max-width: 900px) {
  .row {
    display: block;
  }
}

.pretty_box {
  padding: .5%;
  border-radius: 20px;
  background-color: #1F968B;
  margin: 20px;
}

.compare {
  padding:8px;
  background-color: #100015;
  #background-image: linear-gradient(to bottom right, #238A8D, #440D54);
  margin:0 0 0 0;
  color: #eeeeee;
}
